@font-face {
  font-family: Inter;
  src: url(./UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
.bg-wisdora-navy {
  color: #1a1d2e;
}
.bg-wisdora-orange {
  background-color: #ff7235;
}
.text-wisdora-orange {
  color: #fc6220;
}
.form-input:focus {
  border-color: #ff7235;
  ring: 1px #ff7235;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}

/* Animation States
      .reveal {
        opacity: 0;
        transform: translateY(40px);
      } */

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s cubic-bezier(0.17, 0.55, 0.55, 1);

  will-change: transform, opacity;
}

.reveal-right {
  transform: translateX(300px);
}

.reveal-left {
  transform: translateX(-300px);
}

.reveal-up {
  transform: translateY(100px);
}

.reveal-fadeup {
  opacity: 0;
  transform: translateY(40px);
}

/* Jab active ho */
.reveal.active {
  opacity: 1;
  transform: translateX(0) translateY(0);
}
/* Mobile fix */
@media (max-width: 768px) {
  .reveal-right,
  .reveal-left {
    transform: translateY(40px); /* mobile pe simple fade-up */
  }
}

/* Staggered Delay Classes */
.delay-100 {
  transition-delay: 100ms;
}
.delay-200 {
  transition-delay: 200ms;
}
.delay-300 {
  transition-delay: 300ms;
}
.delay-400 {
  transition-delay: 400ms;
}

/* Floating Animation for Hero */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.animate-float {
  animation: float 5s ease-in-out infinite;
}

/* Hover Interactions */
.card-interaction {
  transition: all 0.3s ease;
}
.card-interaction:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(255, 114, 53, 0.15);
  border-color: #ff7235;
}
